<!-- // THIS IS NOT BEING USED. It was implemented in the core app.component because of the need to access sidenav vars.  -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button 
      class="example-icon menu-icon" 
      aria-label="Example icon-button with menu icon" >
      <!-- (click)="sidenav.toggle()" >  -->
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <span style="display: block; text-align: center">Company Logo Here</span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button
      class="example-icon identity-icon"
      aria-label="Example icon-button with identity icon" >
      <mat-icon>perm_identity</mat-icon>
    </button>

    <button mat-icon-button
      class="example-icon color-icon"
      aria-label="Example icon-button with color choice icon"
      (click)="invertMenuColor()" >
      <mat-icon>invert_colors</mat-icon>
    </button>

    <button mat-icon-button
      class="example-icon logout-icon"
      aria-label="Example icon-button with logout icon" >
      <!-- (click)="appLogout()" > -->
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
